div{
    width: 100px;
    height: 100px;
    background-color: white;
}
p{
    color: black;
}
 @font-face {
        font-family: 'IceCreamPartyNegro';
        src: url(/icecreamparty/IceCreamPartySolid.ttf);
}
@font-face {
    font-family: 'IceCreamParty';
    src: url(/icecreamparty/IceCreamParty.ttf);
}

#titulo{
    font-family: 'IceCreamPartyNegro';
    font-size: 34px;
    top: -25px;
    left: 15px;
    position: absolute;
}

#navBar{
    position: absolute;
    background-color: lightgoldenrodyellow;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 90px;
    
}

button{
    position: relative;
    top: 52px;
    left: 0px;
    margin-right: -5px;
    width: 200px;
    height: 38px;
    background: rgb(203, 205, 143);
    border-color: rgb(203, 205, 143);
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    
}

.foto{
    position: relative;
    height: 350px;
    width: 350px;
    left: 40px;
    top: 100px;
}

#pieDePagina{
    position: relative;
    width: 1290px;
    top: 250px;
    background: black;
}