div{
    width: 100px;
    height: 100px;
    background-color: lightblue;
}

p{
    color: black;
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}
 @font-face {
        font-family: 'IceCreamPartyNegro';
        src: url(/icecreamparty/IceCreamPartySolid.ttf);
}
@font-face {
    font-family: 'IceCreamParty';
    src: url(/icecreamparty/IceCreamParty.ttf);
}

#titulo{
    font-family: 'IceCreamPartyNegro';
    font-size: 34px;
    top: -25px;
    left: 15px;
    position: absolute;
}

#navBar{
    position: absolute;
    background-color: lightgoldenrodyellow;
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 90px;
    
}

button{
    position: relative;
    top: 52px;
    left: 0px;
    margin-right: -5px;
    width: 200px;
    height: 38px;
    background: rgb(203, 205, 143);
    border-color: rgb(203, 205, 143);
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    
}

.platillo{
    position: relative;
    height: 250px;
    width: 1100px;
}

.imgExp{
    position: relative;
    top:25px;
    left: 25px;
    width: 200px;
    height: 200px;
}

.descripcion{
    position: relative;
    background: white;
    top: -210px;
    left: 320px;
    width: 680px;
    height: 220px;
    padding-left: 10px;
}

#pieDePagina{
    position: relative;
    width: 1290px;
    top: 450px;
    background: black;
}